apiVersion: v1
kind: Secret
metadata:
  name: "{{certs_secret}}"
  namespace: "{{namespace}}"
type: Opaque
data:
  server.crt: "{{fact_cert}}"
  server.key: "{{fact_key}}"
apiVersion: v1
---
kind: Secret
metadata:
  name: "{{config_secret}}"
  namespace: "{{namespace}}"
type: Opaque
stringData:
  http_crt: "{{certs_mount_point}}/server.crt"
  http_key: "{{certs_mount_point}}/server.key"
  ad_host: "{{ad_host}}"
  ad_port: "{{ad_port}}"
  ad_basedn: "{{ad_base_dn}}"
  ad_binduser: "{{ad_binduser}}"
  ad_bindpass: "{{ad_bindpass}}"
  ad_group2ns: "{{ad_gropu_tns}}"