[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "*"
ansible-runner = "*"
openshift = "*"
ansible-runner-http = "*"
pyopenssl = "*"

[requires]
python_version = "3.7"

[scripts]
op  = "operator-sdk up local --namespace=uac --watches-file=watches-dev.yaml"
# pipenv run ansible-playbook uac.yml --extra-vars='{"namespace": "uac", "web_hook_url": "http://uac.uac.svc.cluster.local", "ad_host": "34.73.167.129", "ad_port": 389, "ad_base_dn": "dc=ad,dc=lab", "ad_binduser": "admin", "ad_bindpass": "!23qweasd", "ad_gropu2ns": "asd"}'
